# Dependências principais
streamlit>=1.32.0
plotly>=5.18.0
pandas>=2.0.0
python-dateutil==2.8.2
requests==2.31.0
python-magic==0.4.27
openpyxl==3.1.2
selenium==4.15.2
webdriver-manager==4.0.1
xlsxwriter==3.1.9
chardet==5.2.0
tabula-py==2.8.0
pdfplumber==0.11.0
PyMuPDF>=1.23.0
lxml>=4.9.3
kaleido>=0.2.1
